<div [ngClass]="gridClass">
    @for(user of users(); track user.userId){
    <div [class]="'card rounded-4 shadow-sm '+columnClass ">
        <div class="card-body">
            <div class="mb-2 avatar placeholder">
                <div class="bg-neutral text-neutral-content w-24 rounded-full">
                    <span class="font-semibold sm:text-5xl">
                        {{user.fullName.charAt(0)}}
                    </span>
                </div>
            </div>
            <a routerLink="/user" [queryParams]="{'userId':user.userId}" class="mt-1 fs-6">{{user.fullName}}</a>
            <p class="mt-1 fs-6">{{user.emailAddress}}</p>
            <p class="mt-1 fs-6">{{user.contactNumber}}</p>
            <p class="mt-1 fs-6">Followers : {{user.followerCount}}</p>
            <p class="mt-1 fs-6">Followings : {{user.followingCount}}</p>
            <p class="mt-1 fs-6">Joined on {{user.joinAt | date : "medium"}}</p>

            @if (user.isFollowed) {
            <button type="button" class="btn btn-sm btn-error" [disabled]="!user.isFollowed"
                (click)="unfollowUser(user.userId)">Unfollow</button>
            }@else {
            <button type="button" class="btn btn-sm btn-primary" [disabled]="user.isFollowed"
                (click)="follow(user.userId)">{{user.isFollowed ? 'Followed':'Follow'}}</button>
            }

            <a routerLink="/user/message" [queryParams]="{'userId':user.userId}" [state]="{ userName: user.fullName }"
                class="btn btn-sm btn-primary">Message</a>

        </div>
    </div>
    }
</div>